<a href="https://colab.research.google.com/github/Camilarcila/Entregas-de-proyectos_Camila-Arcila/blob/main/00%20-%20Simularcantidad%20de%20datos%20y%20datos%20faltantes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install -q kaggle
from google.colab import files
import json

In [ ]:
js = {"username":"alexanderbedoya","key":"2a3569a84dbefd96bc7a8155fea16f07"}
with open('kaggle.json', 'w') as file:
    json.dump(js, file, indent=4)

In [ ]:
! mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json
! kaggle datasets list
! kaggle competitions download -c pubg-finish-placement-prediction
! unzip pubg-finish-placement-prediction.zip

In [ ]:
import pandas as pd
data = pd.read_csv('train_V2.csv')

In [ ]:
data.head()

,Id,groupId,matchId,assists,boosts,damageDealt,DBNOs,headshotKills,heals,killPlace,...,revives,rideDistance,roadKills,swimDistance,teamKills,vehicleDestroys,walkDistance,weaponsAcquired,winPoints,winPlacePerc
0,7f96b2f878858a,4d4b580de459be,a10357fd1a4a91,0,0,0.00,0,0,0,60,...,0,0.0000,0,0.00,0,0,244.80,1,1466,0.4444
1,eef90569b9d03c,684d5656442f9e,aeb375fc57110c,0,0,91.47,0,0,0,57,...,0,0.0045,0,11.04,0,0,1434.00,5,0,0.6400
2,1eaf90ac73de72,6a4a42c3245a74,110163d8bb94ae,1,0,68.00,0,0,0,47,...,0,0.0000,0,0.00,0,0,161.80,2,0,0.7755
3,4616d365dd2853,a930a9c79cd721,f1f1f4ef412d7e,0,0,32.90,0,0,0,75,...,0,0.0000,0,0.00,0,0,202.70,3,0,0.1667
4,315c96c26c9aac,de04010b3458dd,6dc8ff871e21e6,0,0,100.00,0,0,0,45,...,0,0.0000,0,0.00,0,0,49.75,2,0,0.1875

In [ ]:
data = data.sample(500000)

In [ ]:
import random as rnd
columns = []
for i in range(3):
    columns.append(rnd.choice(data.columns))
columns

['killPlace', 'longestKill', 'killPoints']

In [ ]:
columns = ['damageDealt', 'longestKill', 'walkDistance']

In [ ]:
df = data.copy()

In [ ]:
import numpy as np
import random as rnd
for col in columns:
    num_datos = df.shape[0]*(rnd.randint(50,120)/1000)
    index_datos = rnd.sample(range(1, df.shape[0], 1), int(num_datos))
    for i in index_datos:
        df[col].iloc[i] = np.NaN

In [ ]:
g = df.isna().sum()
g[g!=0]

damageDealt     114000
longestKill      81000
walkDistance     90000
winPlacePerc         1
dtype: int64

In [ ]:
df.to_csv('datos_proyecto.csv', index=False)